<h2>Sign up</h2>

<%=form_for @delivery_boy do |f| %>
  <% if @delivery_boy.errors.any? %>
    <div id="error_explanation">  
      <h2>
        <%= pluralize(@delivery_boy.errors.count, "error") %> prohibited
        this delivery boy from being saved:
      </h2>
      <ul>
        <% @delivery_boy.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :firstname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :phoneno %><br />
    <%= f.text_field :phoneno %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Create Delivery Boy" %>
  </div>
<% end %>

