<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#customer">Customer</a></li>
  <li><a data-toggle="tab" href="#admin">Admin</a></li>
</ul>

<div class="tab-content">
  <div id="customer" class="tab-pane fade in active">
    <h3></h3>
    <section class="panel">
      <header class="panel-heading head-border">
          Customers
      </header>
      <table class="table table-striped custom-table table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th class="hidden-xs"> Action</th>
          </tr>
        </thead>
        <tbody>
          <% $i = 1 %>
          <% @users.each do |user| %>
          <% if user.has_role? :customer %>
          <tr>
            <td><%= $i %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td></td>
            <td class="hidden-xs">
              <%= link_to '', user_path(user), class: "btn btn-success btn-xs fa fa-check" %>
              <%= link_to "", edit_user_path(user), class: "btn btn-primary btn-xs fa fa-pencil" %>
              <%= link_to "", user_path(user), class: "btn btn-danger btn-xs fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
          </tr>
          <% $i = $i+1 %>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
  
  <div id="admin" class="tab-pane fade">
    <h3></h3>
    <section class="panel">
      <header class="panel-heading head-border">
          Restaurant-owners
      </header>
      <table class="table table-striped custom-table table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th class="hidden-xs"> Action</th>
          </tr>
        </thead>
        <tbody>
          <% $i = 1 %>
          <% @users.each do |user| %>
          <% if user.has_role? :admin %>
          <tr>
            <td><%= $i %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td></td>
            <td class="hidden-xs">
              <%= link_to '', user_path(user), class: "btn btn-success btn-xs fa fa-check" %>
              <%= link_to "", edit_user_path(user), class: "btn btn-primary btn-xs fa fa-pencil" %>
              <%= link_to "", user_path(user), class: "btn btn-danger btn-xs fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' }%>
            </td>
          </tr>
          <% $i = $i+1 %>
          <%end%>
          <% end %>
        </tbody>
      </table>
    </section>    
  </div>
</div>