<div class="single-unique-product">
  <%= image_tag  food_item.image.url if food_item.image?  %>
  <span class="featured-rating-orange">6.5</span>
  <div class="featured-title-box">
    <h6>  
      <%= food_item.name %>
    </h6>
    <p>Restaurant </p>
    <span> • </span>
    <p><span>$$$</span>$$</p>
    <ul>
      <li>
        <span class="icon-location-pin"></span>
        <p>1301 Avenue, Brooklyn, NY 11230</p>
      </li>
    </ul>
    <%= link_to "add_to_cart",orders_path(:food_item=>food_item.id,restaurant_id:food_item.restaurant.id),method: "post"%>
    <a class="primary-btn" href="#" ></a>
    <div class="bottom-icons">
      <div class="closed-now">CLOSED NOW</div>
        <% if current_user %>
          <% if current_user.favourite_food?(food_item.id) %>
            <span class="heart_<%=food_item.id%> fa fa-heart"></span>
          <% else %>
            <span class="heart_<%=food_item.id%> fa fa-heart-o"></span>
          <% end %>
        <% end %>
      <span class="ti-bookmark"></span>
    </div>
  </div>
</div>
<script>
  $(".heart_<%=food_item.id%>").on('click',function(){
    $.ajax({
      url: "/add_food_to_fav",
      method: 'GET',
      data: {
        id: "<%= food_item.id %>"
      },
      dataType: 'script'
    });
  });
</script>
