<h1>Listing of category</h1>

<%= link_to 'Add release', new_release_path, {:remote => true} %>

<div id="abc"></div>

<table>
  <tr>
    <th class="col-md-2">Restaurant Name</th>
    <th class="col-md-2">Category Name</th>
    <th class="col-md-2">Food Name</th>
    <th class="col-md-2">Food Type</th>
    <th class="col-md-2">Price</th>
  </tr>
  <% @fooditems.each do |food|%>
    <tr>
      <td class="col-md-2"><%=food.restaurant.name %></td>
      <td class="col-md-2"><%=food.category.name %></td>
      <td class="col-md-2"><%=food.name %></td>
      <td class="col-md-2"><%=food.food_type %></td>
      <td class="col-md-2"><%=food.price %></td>
      <td class="col-md-4">
      <%= link_to "show", food %>
      <%= link_to "edit", edit_food_item_path(food)%>
      <%= link_to "delete",food, method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <%end%>
</table>
