<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<div class="tab-content">
  <div id="restaurant" class="tab-pane fade in active">
    <h3></h3>
    <section class="panel">
      <header class="panel-heading head-border">
          Restaurant
      </header>
      <table class="table table-striped custom-table table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Restaurant Name</th>
            <th>Phone No </th>
            <th>Email</th>
            <th>Opening Time</th>
            <th>Closing Time</th>
            <th>Branch Name</th>
            <th>Status</th>
            <th class="hidden-xs"> Action</th>
          </tr>
        </thead>
        <tbody>
          <% @restaurants.each do |restaurant| %>
          <tr>
            <td><%= restaurant.id %></td>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.phone_no %></td>
            <td><%= restaurant.email %></td>
            <td><%= restaurant.opening_time %></td>
            <td><%= restaurant.closing_time %></td>
            <td><%= restaurant.branch_name %></td>
            <td>
              <% if restaurant.status == true  %>
                <label class="switch" id ="status-<%= restaurant.id %>">
                  <%= render partial: "active_status", locals: {restaurant: restaurant}%>
                </label>
              <% else %>
                <label class="switch" id ="status-<%= restaurant.id %>" >
                  <%= render partial: "inactive_status", locals: {restaurant: restaurant}%>
                </label>
              <% end %>
            </td>
            <td class="hidden-xs">
              <%= link_to '', restaurant_path(restaurant), class: "btn btn-success btn-xs fa fa-check" %>
              <%= link_to "", edit_restaurant_path(restaurant), class: "btn btn-primary btn-xs fa fa-pencil" %>
              <%= link_to "", restaurant_path(restaurant), class: "btn btn-danger btn-xs fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>
