<h2>create offer</h2>
<h2><%= @restaurant.name%></h2>
<%= form_for @offer do |form|%>
  <%=form.label :select_food%>
  <%=form.collection_select :food_item_id, FoodItem.order(:id), :id,:name %><br>
  <%=form.label :Quentity%>
<%=number_field_tag 'quantity', nil, min: 1%>

<%end%>
