<h1>Show offer</h1>
<p>
  <strong>Restaurant name:</strong>
  <%= @offer.restaurant.name %>
</p> 
<p>
  <strong>food name:</strong>
  <%= @offer.food_item.name %>
</p> 

<p>
<strong>Category</strong>
  <%= @offer.food_item.category.name%>
</p> 
<p>
  <strong>food type:</strong>
  <%= @offer.food_item.food_type %>
</p> 
<p>
  <strong>discount in(%):</strong>
  <%= @offer.discount%>
</p>

<%= link_to "back", offers_path%>
