<h1>Listing of category</h1>
<table>
  <tr>
    <th>no</th>
    <th>Category name</th>
    <th>show</th>
    <th>edit</th>
    <th>delete</th>
  </tr>
  <%@categories.each_with_index do |category,index|%>
    <tr>
      <td><%= index+1%></td>
      <td><%=category.name %></td>
      <td><%= link_to "show", category_path(category)%></td>
      <td><%= link_to "edit", edit_category_path(category)%></td>
      <td><%= link_to "delete", category_path(category), method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <%end%>
</table>
