
        <div class="">
          <div class="order-details-confirmation">

            <div class="cart-page-heading">
              <h5>Your Order</h5>
              <p>The Details</p>
            </div>

            <ul class="order-details-form mb-4">
              <%sum = 0%>
              <%orders.each do |order| %>
              <li><span><%=order.food_item.name%></span>
                <div class="input-group">
         <!--  <span class="input-group-btn">
              <button type="button" class="btn btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                  <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
          </span> -->
          <%=button_to " + ", orders_path(:food_item => order.food_item.id, restaurant_id:order.food_item.restaurant.id), method: "post",remote: true, class: "btn btn-number"%>
          <input type="text" name="quant[1]" class="form-control input-number" value="<%= order.quantity%>" min="1" max="10" size="">
          <%=button_to " - ",order_remove_path(order),method:"delete",remote: true, class: "btn btn-number" %>
         <!--  <span class="input-group-btn">
              <button type="button" class="btn btn-number" data-type="plus" data-field="quant[1]">
                  <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
          </span> -->
      </div> <span><%=order.price%></span></li>
              <%sum = sum + order.price%>
              <%end%>

              <li><span>Subtotal</span> <span><%=sum%></span></li>
              <li><span>Shipping</span> <span><%=orders.count * 5%></span></li>
              <li><span>Total</span> <span><%=sum += (orders.count * 5) %></span></li>
            </ul>

            <%=form_for master_order do |f|%>
            <div id="accordion" role="tablist" class="mb-4">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h6 class="mb-0">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <%= f.radio_button :payment_type, value: "card" %>
                      <%= f.label :paypal, "PayPal"%>
                  </a>
                  </h6>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <%= f.radio_button :payment_type, value: "card" %>
                      <%= f.label :cod, "Cash On Delivery"%>
                  </h6>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in veritatis officia inventore, tempore provident dignissimos.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <%= f.radio_button :payment_type, value: "card" %>
                      <%= f.label :credit, "Credit card"%>
                  </h6>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint repudiandae suscipit ab soluta delectus voluptate, vero vitae</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                  <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      <%= f.radio_button :payment_type, value: "card" %>
                      <%= f.label :debit, "Bank Transfer"%>
                  </h6>
                </div>
                <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est cum autem eveniet saepe fugit, impedit magni.</p>
                  </div>
                </div>
              </div>
            </div>
              <%= f.hidden_field :total, value: sum.to_i%>
              <%= f.hidden_field :order_type, value: '1'%>
              <%= f.hidden_field :order_status, value: 'pending'%>
              <%= f.hidden_field :payment_status, value: 'pending'%>
              <%= f.hidden_field :transaction_id, value: 1%>
              <%= f.hidden_field :user_id, value: current_user%>

            <%= f.submit "Place Order",class: "btn karl-checkout-btn"%>
            <%end%>
          </div>
        </div>
