<p>    
  <%= @master_order.total.to_i%><br>
  <% @order.each do |i|%>
    Food_item::<%= i.food_item.name%><br>
    Quantity::<%= i.quantity%><br>
    Price::<%= i.price%><br>
  <%end%>
  Total Item::<%= @order.count %>
</p>
<%= link_to "sign out", destroy_user_session_path,method: "delete" %>
