<!DOCTYPE html>
<html>
  <head>
    <title>OnlineRestaturantManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  
	  <% if delivery_boy_signed_in? %>
	  	<%= link_to 'logout', destroy_delivery_boy_session_path , method: :delete %>
	  <% end%>
    
    <%= yield %>
  </body>
</html>
